<style>
  #about {
    margin-top: 8.8vw;
    margin-left: auto;
    text-align: center;
  }

/* Mobile Styles */
@media only screen and (max-width: 800px) {
  .icon-5 {
    margin-left: auto;
    margin-top: 8vw;
  }

  .about_us {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 4vw;
    color: #ffffff;
    text-align: center;
    margin-left: 42vw;
    margin-top: -22.5vw;
  }

  .info_about {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: -5vw;
    font-size: 3.5vw;
  }

  .info_about p {
    margin-bottom: 12px;
  }

  .info_about h3 {
    margin: 22px 0 8px;
  }

  .subtitle {
    font-weight: 700;
    margin-top: 3vw;
    margin-bottom: 1vw;
  }
}

/* Desktop Styles */

@media only screen and (min-width: 801px) {
  .icon-5 {
    margin-left: 2vw;
    margin-top: -10vw;
  }

  .about_us {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 4vw;
    color: #000000;
    margin-left: 15vw;
    margin-top: -7vw;
  }

  .info_about {
    position: absolute;
    margin-top: -35vw;
    margin-left: 10vw;
    height: 38vw;
    width: 47vw;
    text-align: left;
  }

  .subtitle {
    font-weight: 700;
    margin-top: 3vw;
    margin-bottom: 1vw;
  }

  .box-image {
    position: absolute;
    margin-top: -33vw;
    margin-left: 60vw;
    height: 38vw;
    width: 35vw;
    background-color: #000000;
  }
}
</style>

<div class="grid-container">
  <div class="grid-item g-1">
    <img class="icon icon-5" src="images/circle_icon.svg" alt="icon">
    <span class="about_us">/ABOUT</span>
  </div>
</div>
<div class="grid-item g-2"></div>
<div class="grid-item g-3">
  <div class="info_about">
    <h3>VIBE</h3>

    <p>
      What does this mean for the MICA community? What does it mean to record
      this pulse? What are the factors that go into measuring this? Similar to
      a human body, the MICA community has a pulse that we can attempt to
      record and understand through placing sensors at unique locations on
      campus. The pulse tells us not only about moments of activity but also
      moments to rest and transition, ultimately archiving a non-linear
      narrative of what it’s like to be here.
    </p>

    <h3>OUR GOAL</h3>

    <p>
      The goals of this project are to present an interesting, safe, and open
      way of collecting data - as a precedent to more data-driven works in the
      future, how can we redefine the scope of data collection to exist beyond
      surveys and site trackers? As a result, we have chosen to collect data in
      non-homogenous ways (pop-up events, 24/7 sensor station) to diversify the
      types and reactions to data collection. More importantly, how can we coax
      a playful engagement with the MICA community in an era of data paranoia?
      Seeing the people behind data collection humanizes the often alienated
      process of data collection, and perhaps art and design may help us foster
      a better relationship between people and digital interfaces.
    </p>

    <p>
      Additionally, we are exploring the longevity and life cycle of our
      sensors/ data. Since our data is collected from MICA students, it should
      belong to MICA students. When our current project is finished, the we
      will open up this collection of sensors and data points to future MICA
      students to pursue data-driven projects.
    </p>

    <p>
      The <strong>MICAVIBE</strong> project was wholly designed and built by
      students in the Spring 2019 Interactive Spaces class in the Interactive Arts
      department at MICA. The class was:
      <a class="reference" href="https://instagram.com/blythethea_fineart">Blythe Thea Williams</a>,
      <a class="reference" href="https://instagram.com/chengqin__">Cheng Qin</a>,
      <a class="reference" href="https://gongshengzhang.com">Gary Zhang</a>,
      <a class="reference" href="https://instagram.com/_shiningforest">Heerim Shin</a>,
      <a class="reference" href="https://www.instagram.com/jmsokolov">Jess Sanders</a>,
      <a class="reference" href="https://www.laurainpark.com">Laurain Park</a>,
      <a class="reference" href="https://www.instagram.com/miri_graphic">Miri Kim</a>,
      <a class="reference" href="https://deckardkane.github.io/">Peter Turnbull</a>,
      <a class="reference" href="https://www.serahchoi.myportfolio.com">Serah Choi</a>, and
      <a class="reference" href="https://www.instagram.com/designyeri/">Yeri Choi</a>.
    </p>

    <p>
      <a class="reference" href="http://www.dione-lee.com">Dione Lee</a> was the teaching
      assistant and <a class="reference" href="https://reasonable.systems">Adam Bachman</a> was
      the instructor. The code for the project is at
      <a class="reference" href="https://github.com/micais2019/interactive-spaces">https://github.com/micais2019/interactive-spaces</a>
      and the code for this site is at
      <a class="reference" href="https://github.com/micais2019/MICAVIBE">https://github.com/micais2019/MICAVIBE</a>.
    </p>

  </div>
  <div class="box-image" id="container"></div>
</div>

{{#contentFor "tail"}}
{{!--
  Each page that loads a p5.js sketch should include this code.
--}}
  <script>
    window.sketches.data(window.document.getElementById('container'))
  </script>
{{/contentFor}}

