<div class="section">
  <div class="grid-container">
    <div class="grid-item g-1">
      <div class="container">
        <div class="circle_love circle-always-4">
          <img class="icon icon-4" src="images/circle_icon.svg" alt="icon">
          <div class="reveal reveal-always">
            <div class="circle circle-7"></div>
            <div class="circle circle-8"></div>
            <div class="sect_title-4">/LOVE</div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item g-2">
      <div class="description description-1">
        <p>
          Various Motion, Mood, Sound Stations located all around the MICA campus speak to each other, 
          exchanging data input through the MICAVIBE network. The <strong>Love Stations</strong>, 
          representing the exchange of the love between each station datas, is created by 3D printed hearts 
          printed with PLA filaments with carved in channels for the LED strips, and pulses data exchanges.
        </p>
        <p>
          Send Love Stations can be found in Fox ground floor window, Brown second floor window, nearby Main Station Sound Station, nearby Lazurus Sound Station, and in Dolphin Building.
        </p>
      </div>
    </div>
    <div class="grid-item g-3">
      <div class="box-info"></div>
    </div>
    <div class="grid-item g-4"></div>
    <div class="grid-item g-5"></div>
    <div class="grid-item g-6"></div>
    <div class="grid-item g-7"></div>
    <div class="grid-item g-8"></div>
  </div>
</div>
