<div class="section">
  <div class="grid-container">
    <div class="grid-item g-1">
      <div class="container">
        <div class="circle_love circle-always-4">
          <img class="icon icon-4" src="images/circle_icon.svg" alt="icon">
          <div class="reveal reveal-always">
            <div class="circle circle-7"></div>
            <div class="circle circle-8"></div>
            <div class="sect_title-4">/LOVE</div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item g-2">
      <div class="description description-1">
        <p>
          The <strong>Love Station</strong> hears data as it moves through the
          MICAVIBE network and renders it as variations of light.
        </p>
        <p>
          You can find LOVE stations at ......
        </p>
      </div>
    </div>
    <div class="grid-item g-3">
      <div class="box-info"></div>
    </div>
    <div class="grid-item g-4"></div>
    <div class="grid-item g-5"></div>
    <div class="grid-item g-6"></div>
    <div class="grid-item g-7"></div>
    <div class="grid-item g-8"></div>
  </div>
</div>
