<div class="section">
  <div class="grid-container">
    <div class="grid-item g-1">
      <div class="container">
        <div class="circle_mood circle-always-3">
          <img class="icon icon-3" src="images/circle_icon.svg" alt="icon">
          <div class="reveal reveal-always">
            <div class="circle circle-5"></div>
            <div class="circle circle-6"></div>
            <div class="sect_title-3">/MOOD</div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item g-2">
      <div class="description description-1">
        <p>
          Using the colorful buttons, audience members are able to answer to
          this simple question given by the <strong>Mood Station</strong>: “what color are you
          feeling today?” By pressing the button, the LED grid underneath
          lights up according to the audience’s mood. Audience members can
          takes away a collectable item from the receipt printer, which
          displays a QR code to the micavibe.com/mood website.
        </p>
        <p>
          You can find MOOD stations at ......
        </p>
      </div>
    </div>
    <div class="grid-item g-3">
      <div class="box-info"></div>
    </div>
    <div class="grid-item g-4"></div>
    <div class="grid-item g-5"></div>
    <div class="grid-item g-6"></div>
    <div class="grid-item g-7"></div>
    <div class="grid-item g-8"></div>
  </div>
</div>

