<div class="section">
  <div class="grid-container">
    <div class="grid-item g-1">
      <div class="container">
        <div class="circle_motion circle-always-1">
          <img class="icon icon-1" src="images/circle_icon.svg" alt="icon">
          <div class="reveal reveal-always">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
            <div class="sect_title-1">/MOTION</div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item g-2">
      <div class="description description-1">
        <p>
          Through their movements, the audience members are able to catalyze
          the lights of the <strong>Motion Station</strong>. The camera sensor
          mounted on the station recognizes the audience movements, and reflect
          such movements on the large-scale grid structure formed with the LED
          lights.
        </p>
        <p>
          You can find the MOTION station at ......
        </p>
      </div>

    </div>
    <div class="grid-item g-3">
      <div class="box-info"></div>
    </div>
    <div class="grid-item g-4"></div>
    <div class="grid-item g-5"></div>
    <div class="grid-item g-6"></div>
    <div class="grid-item g-7"></div>
    <div class="grid-item g-8"></div>
  </div>
</div>

