<!DOCTYPE html>
<html>
  <head>
    <title>MICA VIBE</title>
    <meta name="description" content="THE MICA VIBE PROJECT">
    <link id="favicon" rel="/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <style>
table.display {
  width: 100%;
}

.display td {
  width: 12%;
  height: 90px;
}
    </style>
  </head>

  <body>
    <header>
      <h1>
        Motion
      </h1>
    </header>

    <main>
      <table class="display">
        <tbody>
          <tr id="y-0">
            <td id="x-0">&nbsp;</td> <td id="x-1"></td> <td id="x-2"></td> <td id="x-3"></td> <td id="x-4"></td> <td id="x-5"></td> <td id="x-6"></td> <td id="x-7"></td>
          </tr>
          <tr id="y-1">
            <td id="x-0"></td> <td id="x-1"></td> <td id="x-2"></td> <td id="x-3"></td> <td id="x-4"></td> <td id="x-5"></td> <td id="x-6"></td> <td id="x-7"></td>
          </tr>
          <tr id="y-2">
            <td id="x-0"></td> <td id="x-1"></td> <td id="x-2"></td> <td id="x-3"></td> <td id="x-4"></td> <td id="x-5"></td> <td id="x-6"></td> <td id="x-7"></td>
          </tr>
          <tr id="y-3">
            <td id="x-0"></td> <td id="x-1"></td> <td id="x-2"></td> <td id="x-3"></td> <td id="x-4"></td> <td id="x-5"></td> <td id="x-6"></td> <td id="x-7"></td>
          </tr>
          <tr id="y-4">
            <td id="x-0"></td> <td id="x-1"></td> <td id="x-2"></td> <td id="x-3"></td> <td id="x-4"></td> <td id="x-5"></td> <td id="x-6"></td> <td id="x-7"></td>
          </tr>
          <tr id="y-5">
            <td id="x-0"></td> <td id="x-1"></td> <td id="x-2"></td> <td id="x-3"></td> <td id="x-4"></td> <td id="x-5"></td> <td id="x-6"></td> <td id="x-7"></td>
          </tr>
        </tbody>
      </table>

      <a href="/">go home</a>
    </main>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="/socket.js"></script>
    <script>
      window.WS_URL = "{{ WS_URL }}";
      $(function () {
        startWebsocket(function (message) {
          if (message.key === 'split-motion') {
            console.log("SPLIT MOTION", message)

            var values = message.value.split(' ').map(parseInt)
            var counter = 0
            for (var y = 0; y < 6; y++) {
              for (var x = 0; x < 8; x++) {
                var val = values[counter]
                $('#y-' + y + ' #x-' + x).css({ background: "rgb(" + [val, val, val].join(',') + ")"})
                counter++
              }
            }
          }
        })

        $('#toggle-history').on('click', function () {
          var $h = $('#history'),
              $th = $('#toggle-history')
          if ($h.is(":visible")) {
            $th.text("show monitor")
            $h.hide()
          } else {
            $th.text("hide monitor")
            $h.show()
          }
        })


      })
    </script>
  </body>
</html>

