<div class="section">
  <div class="grid-container">
    <div class="grid-item g-1">
      <div class="container">
        <div class="circle_sound circle-always-2">
          <img class="icon icon-2" src="images/circle_icon.svg" alt="icon">
          <div class="reveal reveal-always">
            <div class="circle circle-3"></div>
            <div class="circle circle-4"></div>
            <div class="sect_title-2">/SOUND</div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item g-2">
      <div class="description description-1">
        <p>
          By making noise in the vicinity, audience members are able to initiate reactions 
          in the LED lights of the <strong>Sound Stations</strong>. Through the designs intricately carved 
          into the glass surface, the microphone residing inside the <strong>Sound
          Stations</strong> can detect the decibel levels of the vicinity. If audience members create rapid changes of 
          the sound level, the LED strips light up to reflect such changes. Along with the 
          microphone and sensors, another set of LED strips mounted on a shelf inside the Station 
          speaks to the other <strong>Sound Station</strong>, reflecting the data input from other sister <strong>Sound Station</strong>.

        </p>
        <p>
          Sound Stations can be found in Main, left side of the main staircase, 
          and the other Sound Station is located near the ground floor elevator of Lazurus.
        </p>
      </div>
    </div>
    <div class="grid-item g-3">
      <div class="box-info"></div>
    </div>
    <div class="grid-item g-4"></div>
    <div class="grid-item g-5"></div>
    <div class="grid-item g-6"></div>
    <div class="grid-item g-7"></div>
    <div class="grid-item g-8"></div>
  </div>
</div>
