<div class="section">
  <div class="grid-container">
    <div class="grid-item g-1">
      <div class="container">
        <div class="circle_sound circle-always-2">
          <img class="icon icon-2" src="images/circle_icon.svg" alt="icon">
          <div class="reveal reveal-always">
            <div class="circle circle-3"></div>
            <div class="circle circle-4"></div>
            <div class="sect_title-2">/SOUND</div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item g-2"></div>
    <div class="grid-item g-3">
      <div class="box-info"></div>
    </div>
    <div class="grid-item g-4"></div>
    <div class="grid-item g-5"></div>
    <div class="grid-item g-6"></div>
    <div class="grid-item g-7"></div>
    <div class="grid-item g-8"></div>
  </div>
</div>
