* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.1vw;
}

.header {
  position: relative;
}

.footer {
  position: relative;
}

.circles {
  position: relative;
}

.circle {
  position: relative;
  mix-blend-mode: multiply;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  /* position: absolute; */
}

.reveal {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  position: absolute;
  animation: fadein 1.2s linear forwards;
  animation-timing-function: ease-in;
}

.description {
  position: absolute;
  margin-left: -18vw;
  margin-top: 14vw;
  width: 25vw;
  text-align: left;
}

.description p {
  margin-bottom: 18px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

